.poster{
    width: 100%;
    height: 150px;
}

.posterContainer{
    width: 100px;
}
.movieCard{
    display: flex;
    gap: 10px;
    white-space: nowrap;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px;
    width: 100px;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
    font-size: 18px;
}